$t-blue-light: #99b3e6;
$t-blue-grey: #527DA8;
$t-blue-grey-transparent: rgba(82, 125, 168, 0.8);
$t-blue: #24478f;
$t-blue-dark: #0a1429;
$t-blue-dark-transparent: rgba(10, 20, 41, 0.7);

$t-font: 'Roboto', sans-serif;
