$t-black: #1E1E20;
$t-black-transparent: rgba(30, 30, 32, 0.5);
$t-blue-light: #99b3e6;
$t-blue-grey: #527DA8;
$t-blue-grey-transparent: rgba(82, 125, 168, 0.8);
$t-blue: #24478f;
$t-blue-dark: #0a1429;
$t-blue-dark-transparent: rgba(10, 20, 41, 0.7);
$t-coral-light: #ffb3b3;
$t-coral: #ff4d4d;
$t-coral-dark: #e60000;
$t-green-light: #1aff85;
$t-green-light-off: rgba(0,161,75,0.5);
$t-green-light-on: rgb(0,161,75);
$t-grey: #333333;
$t-grey-light: #808080;
$t-grey-dark-transparent: rgba(77, 77, 77, 0.9);
$t-grey-transparent: rgba(64, 64, 64, 0.9);
$t-teal: #00cc99;
$t-teal-dark: #00334d;
$t-teal-light: rgba(0, 51, 77, 0.3);
$t-font: 'Roboto', sans-serif;

$background-color: $t-teal-light;
$main-color: $t-blue-dark;
$header-color: $t-black;
$body-color: $t-black;
$sound-group-color: $t-black;
$sound-button-color: white;
$footer-color: $t-grey-transparent;
$timeline-slot-color: $t-grey;

@mixin stretch-height() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  z-index: -1; /* Remove this line if it's not going to be a background! */
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align-container($position: relative) {
  text-align: center;
}

@mixin horizontal-align($position: relative) {
  display: inline-block;
}

@mixin floating-footer() {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@mixin h1($color: white) {
  font-weight: bold;
  margin: 15px;
  font-family: $t-font;
  color: $color;
  letter-spacing: 3px;
  font-size: 42px;
}

@mixin h3($color: white) {
  margin: 15px;
  font-family: $t-font;
  color: $color;
  font-size: 32px;
}

@mixin h4($color: white) {
  font-family: $t-font;
  color: $color;
}

@mixin h5($color: white) {
  font-family: $t-font;
  color: $color;
  font-weight: bold;
}

.no-outline {
  outline: none;
}