@import 'colors.scss';

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

.t-h1 {
  @include h1(white);
  margin-top: 30px;
}

.t-h3 {
  @include h3(white);
  text-align: left;
}

.t-h4 {
  @include h4(white);
  text-align: center;
  margin: 5px;
  font-size: 24px;
  overflow: hidden;
}

.t-h5 {
  @include h5(white);
  text-align: center;
  margin: 5px;
}

.t-logo {
  margin-top: 22px;
  width: 40%;
}

.t-banner {
  position: relative;
  top: 0;
  background: $t-coral;
}
.t-toolbar {
  position: relative;


  button {
    background: $t-black-transparent;
    border: none;
  }

  .t-h5 {
    margin: 7px 0px;
    color: white;
  }
}

.main-container {
  @include stretch-height();
  @include horizontal-align-container();
  background-color: $background-color;

  #main {
    @include horizontal-align();
    min-height: 800px;
    background-color: $main-color;

    #header {
      text-align: center;
      background-color: $header-color;
    }

    #body {
      text-align: center;
      background-color: $body-color;
    }
  }
}

.sound-button-active {
  @extend .no-outline;
  background-color: $t-coral;
  box-shadow: 1.5px 1.5px 6px #AEB2B3,
  -1.5px -1.5px 6px #AEB2B3;
}

.sound-button-container {
  margin: 10px 5px;
  padding: 0px;

  .sound-button {
    @extend .no-outline;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    background-color: $t-grey-dark-transparent;
    color: $sound-button-color;

    i {
      color: $sound-button-color;
    }
  }

  .sound-button:active,  .sound-button:focus {
    @extend .sound-button-active;
  }

  .sound-button:hover {
    @extend .sound-button-active;
    background: $t-coral-dark;
  }

}

.sound-group-container {
  z-index: 1;
  margin: 5px 0px;

  .sound-group {
    background-color: $sound-group-color;

    .sound-content {
      padding: 0px 20px;
    }
  }
}

.main-footer {
  z-index: 20;
  @include floating-footer();
  background-color: $footer-color;
  color: white;
  min-height: 100px;
}
